<main>
  <app-hero></app-hero>
  <app-how-it-works></app-how-it-works>
  <app-home-about></app-home-about>
  <app-services></app-services>
  <app-fleet></app-fleet>
  <app-why-choose-us></app-why-choose-us>
  <app-home-contact-us></app-home-contact-us>
  <app-journey></app-journey>
  <app-hajj-umrah-features></app-hajj-umrah-features>
  <app-testimonials></app-testimonials>
  <!-- <app-booking-form></app-booking-form> -->
  <app-pricing></app-pricing>
  <app-about></app-about>
  <app-faq></app-faq>
</main>